<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid d-flex justify-content-between align-items-center w-75">
    <ul class="nav">
      <li class="nav-item">
        <a routerLink="/inicio" class="nav-link px-2 text-white" routerLinkActive="active-link">
          Tienda Pan-tástico
        </a>
      </li>
      @if(!esAdmin){
      <li class="nav-item">
        <a routerLink="/nuestros-obradores" class="nav-link px-2 text-white" routerLinkActive="active-link">
          Nuestros obradores
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/contact" class="nav-link px-2 text-white" routerLinkActive="active-link">
          Contacto
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/trabaja-nosotros" class="nav-link px-2 text-white" routerLinkActive="active-link">
          Trabaja con nosotros
        </a>
      </li>
      }
      @if(esAdmin) {
      <li class="nav-item">
        <a routerLink="/userList" class="nav-link px-2 text-white" routerLinkActive="active-link">
          Lista de usuarios
        </a>
      </li>
        <li class="nav-item">
          <a routerLink="/addProduct" class="nav-link px-2 text-white" routerLinkActive="active-link">
            Añadir producto
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/categorias" class="nav-link px-2 text-white" routerLinkActive="active-link">
            Categorias
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/consultas-contacto" class="nav-link px-2 text-white" routerLinkActive="active-link">
            Consultas
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/solicitudesEmpleo" class="nav-link px-2 text-white" routerLinkActive="active-link">
            Solicitudes empleo
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/pedidosAdmin" class="nav-link px-2 text-white" routerLinkActive="active-link">
            Pedidos(Admin)
          </a>
        </li>
      }
      @if(login){
      <li class="nav-item">
      <a routerLink="/pedidosUsuario" class="nav-link px-2 text-white" routerLinkActive="active-link">
        Pedidos
      </a>
    </li>
      }
    </ul>

    <div class="d-flex align-items-center">
      <a routerLink="/cart" class="nav-link px-3 text-white text-center" routerLinkActive="active-link">
        <fa-icon [icon]="faCart"></fa-icon>
      </a>
      @if(!login){
      <div type="button" class="btn btn-outline-light me-2" routerLink="/login" routerLinkActive="active-link">Login</div>
      }
      @if (login) {
        <div type="button" class="btn btn-warning" (click)="logOut()">Cerrar Sesión</div>
      }
    </div>
  </div>
</nav>
