<section class="container-fluid px-0">
  <img class="img-header px-0" src="/assets/pan-header.jpg" alt="">
</section>
<section class="container-fluid w-75">

  <div class="row justify-content-center pt-4">
    <div class="col-12 col-md-6 text-center">
      <h4 class="fw-bolder">Pan-tástico, tú pequeño obrador artesanal</h4>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <h2 class="fst-italic fw-bolder pt-2">¡Huele a pan recién hecho en el barrio!</h2>
    </div>
  </div>
  <div class="row justify-content-center pt-5">
    <div class="col-12 col-md-8 col-lg-6 text-center">
      <h4>
        Cada mañana, en Pan-tástico, encendemos el horno con ilusión y manos expertas.
        Varios tipos de pan nacen a diario en nuestro obrador, trabajados con paciencia y cariño
        desde la primera mezcla hasta el crujido final.
        Porque creemos que el pan de verdad tiene historia, aroma… y un lugar especial en cada mesa.
      </h4>
    </div>
  </div>
  <div class="row justify-content-center pt-5">
    <div class="col-12 col-md-5 text-center mb-4">
      <img class="img-fluid img-card-pan" src="/assets/pan-header.jpg" alt="Obrador artesanal">
      <h4 class="mt-3 fw-bold">El obrador</h4>
      <p class="text-start">En Pan-tástico, el día arranca entre harinas, ideas y manos que conocen bien su oficio.
        Nuestro obrador es un rincón donde el tiempo se respeta y el pan se crea con dedicación y mimo.
        Cada pieza surge con personalidad propia: mezclamos, formamos y horneamos
        como se ha hecho siempre, pero con el toque único de nuestra casa.
        Porque en Pan-tástico, el pan no es solo alimento —es una forma de hacer barrio,
        y de cuidar a quien lo prueba.</p>
    </div>
    <div class="d-none d-md-block col-md-1"></div>
    <div class="col-12 col-md-5 text-center mb-4">
      <img class="img-fluid img-card-pan" src="/assets/pan.jpg" alt="Productos artesanos">
      <h4 class="mt-3 fw-bold">Productos artesanos</h4>
      <p class="text-start">Si al pasear por tu calle ves una sonrisa detrás del mostrador y panes dorados tras el cristal…
        es muy probable que estés cerca de un Pan-tástico.
        Nos encanta formar parte del día a día de cada barrio, con una panadería honesta, casera y hecha a mano.
        Queremos que encuentres nuestros productos allá donde estés.
        Cada pieza tiene su carácter: panes rústicos, integrales, de semillas... ¡pruébalos todos!
        </p>
    </div>
    <div class="w-75">
      <h5>Si deseas consultar cualquiera de nuestros productos, no dudes en visitar
        <a class="text-dark" routerLink="/inicio">nuestra tienda online.</a>
      </h5>
    </div>
  </div>
</section>
