.img-header {
  width: 100%;
  height: 25vh;
  object-fit: cover;
  padding: 0 !important;
}
.img-card-pan {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}
.centered-items {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
