<div class="d-flex justify-content-center pt-4">
  <div class="d-flex">
    <button class="btn btn-success" (click)="abrirCrear()">Añadir Usuario</button>
  </div>
</div>
<div class="tabla-container">
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Usuario</th>
      <th>Email</th>
      <th>Rol</th>
      <th>Fecha de Creación</th>
      <th>Editar</th>
      <th>Eliminar</th>
    </tr>
    </thead>
    <tbody>
    @for(user of users; track user.id){
    <tr>
      <th>{{user.id}}</th>
      <th>{{ user.usuario }}</th>
      <th>{{ user.email ? user.email : 'Sin email' }}</th>
      <th> {{user.rol }}</th>
      <th> {{user.fecha_creacion}}</th>
      <th><fa-icon class="btn"  (click)="updateUser(user)" [icon]="fauserpen"></fa-icon></th>
      <th>
        <div class="btn" (click)="deleteUser(user.id)">
          <svg width="25px" height="25px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M135.2 17.7L128 32 32 32C14.3 32 0 46.3 0 64S14.3 96 32 96l384 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-96 0-7.2-14.3C307.4 6.8 296.3 0 284.2 0L163.8 0c-12.1 0-23.2 6.8-28.6 17.7zM416 128L32 128 53.2 467c1.6 25.3 22.6 45 47.9 45l245.8 0c25.3 0 46.3-19.7 47.9-45L416 128z"/>
          </svg>
        </div>
      </th>
    </tr>
    }
    </tbody>
  </table>
</div>

<ng-container >
  <ng-template #modalEditar let-modal>
    <div class="modal-header d-flex justify-content-between">
      <h4 class="modal-title mx-auto">{{ editandoUsuario ? 'Editar Usuario' : 'Añadir Usuario' }}</h4>
      <button type="button" class="btn btn-outline" (click)="modal.dismiss('Cerrar')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="formUsers" (ngSubmit)="editandoUsuario ? editar() : crear()">
        <div class="d-grid justify-content-center pb-2">
          <label class="text-center" for="usuarioRegistro">Usuario</label>
          <input formControlName="usuario" type="text" id="usuarioRegistro">
        </div>
        <div class="d-grid justify-content-center pb-2">
          <label class="text-center" for="contrasenyaRegistro">Contraseña</label>
          <input formControlName="contrasenya" type="password" id="contrasenyaRegistro">
        </div>
        <div class="d-grid justify-content-center pb-2">
          <label class="text-center" for="email">Email</label>
          <input formControlName="email" type="text" id="email">
        </div>
        <div class="d-grid justify-content-center pb-2">
          <label class="text-center" for="rol">Rol</label>
          <select id="rol" formControlName="rol">
            <option value="admin">Admin</option>
            <option value="usuario">Usuario</option>
          </select>
        </div>
        <div class="pt-2 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">
            {{ editandoUsuario ? 'Guardar Cambios' : 'Crear Usuario' }}
          </button>
        </div>
      </form>
      @if(mensaje) {
        <p class="text-center">{{ mensaje }}</p>
      }
    </div>
  </ng-template>
</ng-container>
