* {
  line-height: 1.6;
}
h2 {
  font-size: 28px;
}
p {
  font-size: 15px;
}
input, textarea {
  border: 1px solid black;
  resize: none;
  transition: transform 0.6s ease;
}
input:focus, textarea:focus {
  border: 1px solid black;
  resize: none;
  box-shadow: none;
  transition: transform 0.8s ease;
  transform: scale(1.02);
}

.container {
  width: 100% !important;
  min-height: 100vh;
  height: 100vh;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.contenidos {
  margin-top: 2rem;
}
p.left {
  justify-content: left;
}
.border-bottom-title {
  border-bottom: 2px solid rgb(0, 0, 255);
  width: 140px;
}
@media (max-width: 767.98px) {
  .row.justify-content-center > div {
    flex: 0 0 100% !important;
    max-width: 100% !important;
    margin-bottom: 1.5rem;
  }

  form.d-inline-block.w-75 {
    width: 100% !important;
  }
}
textarea.form-control {
  min-height: 180px;
  max-height: 300px;
  overflow-y: auto;
}
