<div class="vh-100 modal-dialog-centered d-flex justify-content-center backImage">
  <img src="/assets/trabaja-con-nosotros.jpg" class="imgFondo">
<div class="card w-auto h-auto justify-content-center modal-dialog-centered p-4 bg-secondary">
  <div class="vh-50">
    <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
      <div class="form-floating mb-3">
        <div>
          <label for="usuario" class="form-label">Usuario: </label>
          <input formControlName="usuario"
                 type="text" required class="form-control"
                 id="usuario"
                 placeholder="Usuario...">
        </div>
        <div>
          <label class="form-label" for="contrasenya">Contraseña</label>
          <input formControlName="contrasenya"
                 type="password" required class="form-control"
                 id="contrasenya"
                 placeholder="password">
        </div>
        <div class="d-flex justify-content-between pt-2">
          <input class="btn btn-primary" type="submit" value="Login">
          <input class="btn btn-primary" type="button" value="Registrarse" (click)="registroModal()">
        </div>
      </div>
    </form>
    @if(!isRegisterOn){
  <p class="text-center">{{mensaje}}</p>
    }
  </div>
</div>
</div>
<ng-container >
<ng-template #modalRegistro let-modal >
  <div class="modal-header d-flex justify-content-between">
    <h4 class="modal-title mx-auto">Registro</h4>
    <button type="button" class="btn btn-outline" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="formLogin" (ngSubmit)="registro()">
      <div class="d-grid justify-content-center pb-2">
      <label class="text-center" for="usuarioRegistro">Usuario</label>
      <input formControlName="usuario" type="text" id="usuarioRegistro">
      </div>
      <div class="d-grid justify-content-center pb-2">
      <label class="text-center" for="contrasenyaRegistro">Contraseña</label>
      <input formControlName="contrasenya" type="password" id="contrasenyaRegistro">
      </div>
      <div class="d-grid justify-content-center pb-2">
      <label class="text-center" for="email">Email</label>
      <input formControlName="email" type="text" id="email">
      </div>
      <div class="pt-2 d-flex justify-content-center">
      <button type="submit" class="btn btn-primary">Registrar</button>
      </div>
    </form>
    @if(isRegisterOn) {
    <p class="text-center">{{mensaje}}</p>
    }
  </div>
</ng-template>
</ng-container>
