@if(productosCarrito$ | async) {
  <div class="card m-4 shadow">
    <div class="card-header text-center">
      <h4 class="mb-0 fw-bold">Carrito Panadería</h4>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-hover text-center">
        <thead class="table-light">
        <tr>
          <th>Producto</th>
          <th>Precio</th>
          <th>Cantidad</th>
          <th>Total</th>
          <th>Eliminar</th>
        </tr>
        </thead>
        <tbody>
        @for(producto of productosCarrito$ | async; track $index) {
        <tr>
          <td>{{ producto.nombre }}</td>
          <td>{{ producto.precio | currency:'EUR' }}</td>
          <td>
            <div class="text-muted small">
              Stock disponible: {{ getStockDisponible(producto) }}
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <button class="btn btn-sm btn-outline-secondary me-2"
                      (click)="actualizarCantidad(producto.id, producto.cantidad! - 1)">
                -
              </button>
              <span>{{ producto.cantidad }}</span>
              <button class="btn btn-sm btn-outline-secondary ms-2"
                      (click)="actualizarCantidad(producto.id, producto.cantidad! + 1)" [disabled]="getStockDisponible(producto) === 0">
                +
              </button>
            </div>
          </td>
          <td>{{ (producto.precio * (producto.cantidad || 1)) | currency:'EUR' }}</td>
          <td>
            <button class="btn btn-danger btn-sm" (click)="eliminarProducto(producto.id)">
              Eliminar
            </button>
          </td>
        </tr>
        }
          </tbody>
      </table>

      <div class="mt-4 d-flex justify-content-between align-items-center">
        <div>
          <strong>Total: </strong>
          <span>{{ cartPrice$ | async | currency:'EUR' }}</span>
        </div>
        <button class="btn btn-success" (click)="guardarPedido()">Guardar Pedido</button>
      </div>
    </div>
  </div>
} @else {
  <h4>No hay productos en el carrito.</h4>
}
