<footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-5 my-5 border-top">
  <div class="col mb-3">
  </div>
  <div class="col mb-3">
    <h5 class="pb-4">Síguenos</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
      </li>
      <li class="nav-item mb-2">
        <a href="#" class="nav-link p-0 text-body-secondary">
          <fa-icon [icon]="faTiktok"></fa-icon>
        </a>
      </li>
    </ul>
  </div>

  <div class="col mb-3 ">
    <h5 class="pb-4">Obrador</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">Avenida del Cid, 24</li>
      <li class="nav-item mb-2">Valencia</li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Pricing</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
    </ul>
  </div>

  <div class="col mb-3">
    <h5>Contacto</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="tel: +34 666999888" class="nav-link p-0 text-body-secondary">
          📞 +34 666999888
        </a>
      </li>
      <li class="nav-item mb-2">
        <a href="https://wa.me/+666999888?text=¡Hola!%20Estoy%20interesado%20en%20vuestros%20servicios." class="nav-link p-0 text-body-secondary">
          📩 Whatsapp
        </a>
      </li>
    </ul>
  </div>
  <div class="col mb-3">
    <p class="text-body-secondary">Todos los derechos reservados.</p>
    <p class="text-body-secondary text-center"> © {{ dateYear }}</p>
  </div>
</footer>
