<footer class="bg-secondary">
  <div  class="row row-cols-1 row-cols-sm-2 row-cols-md-5 mx-auto py-5 my-5 border-top p-5  d-flex justify-content-center">
    <div class="col mb-3">
    <h5 class="pb-4">Síguenos</h5>
    <ul class="nav">
      <li class="nav-item m-2">
        <a href="https://www.facebook.com/" class="nav-link p-0 text-body-secondary" target="_blank">
          <fa-icon [icon]="faFacebook"></fa-icon>
        </a>
      </li>
      <li class="nav-item m-2">
        <a href="https://x.com/" class="nav-link p-0 text-body-secondary" target="_blank">
          <fa-icon [icon]="faTwitter"></fa-icon>
        </a>
      </li>
      <li class="nav-item m-2">
        <a href="https://www.instagram.com/" class="nav-link p-0 text-body-secondary" target="_blank">
          <fa-icon [icon]="faInstagram"></fa-icon>
        </a>
      </li>
      <li class="nav-item m-2">
        <a href="https://www.tiktok.com/" class="nav-link p-0 text-body-secondary" target="_blank">
          <fa-icon [icon]="faTiktok"></fa-icon>
        </a>
      </li>
    </ul>
  </div>

  <div class="col mb-3 ">
    <h5 class="pb-4">Obrador</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">Avenida del Cid, 24</li>
      <li class="nav-item mb-2">Valencia</li>
    </ul>
  </div>

  <div class="col mb-3">
    <h5 class="pb-4">Contacto</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2">
        <a href="tel: +34 666999888" class="nav-link p-0 text-body-secondary">
          📞 +34 666999888
        </a>
      </li>
      <li class="nav-item mb-2">
        <a href="https://wa.me/+666999888?text=¡Hola!%20Estoy%20interesado%20en%20vuestros%20servicios." class="nav-link p-0 text-body-secondary">
          📩 Whatsapp
        </a>
      </li>
    </ul>
  </div>

  </div>
  <div class="d-flex justify-content-center">
    <p class="text-body-secondary">Todos los derechos reservados.</p>
    <p class="text-body-secondary text-center"> © {{ dateYear }}</p>
  </div>
</footer>
