<div class="container">
  <h2>Gestión de Pedidos</h2>

  @if(pedidoDetalles.length === 0){
  <div>
    <p>No hay pedidos disponibles.</p>
  </div>
  }

  @for(pedido of pedidoDetalles; track $index){
  <div class="pedido-card">
    <h3>Pedido #{{ pedido.id }}</h3>
    <p><strong>Fecha:</strong> {{ pedido.fecha_pedido | date: 'yy/MM/dd' }}</p>
    <p><strong>Total:</strong> {{ pedido.total  }}</p>

    <div>
      <label for="estado">Estado:</label>
      <select [(ngModel)]="pedido.estado" (change)="actualizarEstado(pedido)" class="form-select">
        @for(estado of estados; track $index){
        <option [value]="estado">{{ estado }}</option>
        }
      </select>
    </div>

    <button (click)="eliminarPedido(pedido.id)" class="btn btn-danger mt-2">Eliminar Pedido</button>

    <div class="detalles mt-3">
      <h4>Productos:</h4>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Precio unidad</th>
        </tr>
        </thead>
        <tbody>
        @for(detalle of pedido.detalles; track $index){
        <tr>
          <td>{{ detalle.producto }}</td>
          <td>{{ detalle.cantidad }}</td>
          <td>{{ detalle.precio_unidad }}</td>
        </tr>
        }
        </tbody>
      </table>
    </div>
  </div>
  }
</div>

